Package: com.walen.wechattool
Name: WeChatTool
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: 一个“微信”小功能集合。1、“骰子”控制，在自己对话框输入骰子任意（骰子任意）、骰子一点（一点）、骰子二点（二点）、骰子三点（三点）、骰子四点（四点）、骰子五点（五点）、骰子六点（六点）。2、“猜拳”游戏控制，猜拳任意（猜拳任意）、猜拳剪刀（剪刀）、猜拳石头（石头）、猜拳布（布）。备注：（1、2两点）重启后程序均恢复为任意数值。3、微信步数控制，步数原值、步数乘n、步数加n、步数为n，通过以上指令可以控制步数的值。
Maintainer: walen
Author: walen
Section: Tweaks
